PORT=4000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/portfolio-cms
JWT_SECRET=any-long-random-string
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
CLOUDINARY_CLOUD_NAME=wow
CLOUDINARY_API_KEY=12345678990
CLOUDINARY_API_SECRET=yZAprJ9Z5_rIXKiT9tWTsN1tqD